<%- include("header") -%><%

%><h1>Добро пожаловать на сайт компании <%=Config.name%></h1><%

if (slides) {

	%><div id="carousel" class="carousel slide" data-ride="carousel"><%
		%><ol class="carousel-indicators"><%
			
			console.log(slides)
			
			var active = false;
			
			slides.forEach((item, i) => {
			
				%><li data-target="#carousel" data-slide-to="<%=i%>"<%
					
					if (!active) {
						%> class="active"<%
						active = true;
					}
					
				%>></li><%			
			
			});
			
			if (admin) {
				%><button class="btn btn-xs btn-success" id="create-new-slide"><span class="fa fa-plus"></span> Добавить слайд</button><%
				%><input type="file" id="carousel-upload-images" name="upload-images[]" style="display:none;" /><%
			}
			
			
		%></ol><%
		%><div class="carousel-inner"><%
			
			var active = false;
			
			slides.forEach((item, i) => {
	
				%><div class="item<% 
					
					if (!active) {
						%> active<%
						active = true;
					}
					
				%>"><%
					%><img src="<%
						
						if (item.img){
							%>/public/images/slides/<%=item.img%><%
						}
						else {
							%>/public/images/slides/no_slide.jpg<%
						}
						
					%>" /><%
					%><div class="carousel-caption"><%
	
						if (!admin) {
							%><h2><%=item.title%></h2><%
							%><h3><%=item.subtitle%></h3><%
							%><p><%=item.text%></p><%
						}
						else {
							%><div><%
								
								%><input type="checkbox" class="carousel-edit-public" data-slide="<%=item.id%>"<%
									if (item.public == 1) { %> checked<% }
								%> /> Публиковать<%
								
								%> &nbsp; &nbsp; | &nbsp; &nbsp; <%
								
								%><span class="fa fa-bars" title="Приоритет"></span> &nbsp; <%
								%><input type="number" class="carousel-edit-priority" data-slide="<%=item.id%>" value="<%=item.priority%>" /><%
								
								%> &nbsp; &nbsp; | &nbsp; &nbsp; <%
								
								%><button class="btn btn-danger carousel-delete-slide" data-slide="<%=item.id%>" title="Удалить слайд"><span class="fa fa-trash"></span></button><%
	
								%> &nbsp; &nbsp; | &nbsp; &nbsp; <%
								
								%><button class="btn btn-primary carousel-upload-image" data-slide="<%=item.id%>" title="Загрузить изображение"><span class="fa fa-upload"></span></button><%
								
							%></div><%
							%><h2><%
								%><input type="text" class="carousel-edit-title" data-slide="<%=item.id%>" value="<%=item.title%>" /><%
							%></h2><%
							%><h3><%
								%><input type="text" class="carousel-edit-subtitle" data-slide="<%=item.id%>" value="<%=item.subtitle%>" /><%
							%></h3><%
							%><p><%
								%><input type="text" class="carousel-edit-text" data-slide="<%=item.id%>" value="<%=item.text%>" /><%
							%></p><%
						}
						
					%></div><%
				%></div><%
				
			});
			
		%></div><%
		
		%><a class="left carousel-control" href="#carousel" data-slide="prev"><%
			%><span class="glyphicon glyphicon-chevron-left"></span><%
		%></a><%
		%><a class="right carousel-control" href="#carousel" data-slide="next"><%
			%><span class="glyphicon glyphicon-chevron-right"></span><%
		%></a><%
	%></div><%
	
}

if (!admin) {
	%><div id="main-text"><%-Config.mainText !== null ? Config.mainText : "Описание отсутствует"%></div><%
}
else {
	%><br /><%
	%><div id="edit-main-text" contenteditable="true" style="height:30em;"><%-Config.mainText%></div><%
	%><br /><%
}

%><%//=JSON.stringify(Config)%><%

if (Config.banner_view > 0) {
	%><style>
		.n-info-wrapper {
			width: 1140px;
			border: 1px solid #000;
			margin-top: 1em;
			margin-bottom: 1em;
			border-radius: .5em;
		}
		.n-info-img {
			text-align: center;
		}
		.n-info-img img {
			display: inline-block;
			margin: 0 auto;
			max-width: 96%;
			max-height: 240px;
			border-radius: .5em;
		}
		.n-info-text {
			font-size: 2em;
			text-align: left;
		}
		.n-info-text textarea, .n-info-text input{
			width: 100%;
			font-size: .8em;
		}
	</style>
	<div class="container n-info-wrapper">
		<<%=!admin ? "a" : "div"%> class="row n-info" <% if (!admin) { %> href="<%=Config.banner_link%>" target="_blank"<% } %>>
			<div class="col-md-6 n-info-img">
				<img src="/public/images/<%=Config.banner_image%>" />
			</div>
			<div class="col-md-6 n-info-text"><%
			
				if (!admin) {
					%><%=Config.banner_text%><%
				}
				else {
					%><textarea class="n-info-inp-text"><%=Config.banner_text%></textarea><%
					%><br /><%
					%><input type="text" class="n-info-inp-link" value="<%=Config.banner_link%>" /><%
					%><br /><%
					%><button class="btn btn-info" onclick="$('.banner-image').click();"><span class="fa fa-upload"></span> Загрузить изображение</button>
					<input type="file" class="banner-image" name="banner-image" style="display:none;" /><%
				}
				
			%></div>
		</<%=!admin ? "a" : "div"%>>
	</div><%
}

%><%- include("footer") -%><%
	
	if (admin) {
		%><script src="/public/javascripts/index_admin.js"></script><%
	}
	
%>