<%- include("header") -%>

<h1><%=title%></h1><%

if(admin){
	%><div id="edit-terms" contenteditable="true" style="height:30em;"><%-Config.terms%></div><%
}
else{
	%><%-Config.terms !== null ? Config.terms : "Условия не заданы"%><%
}

%><%- include("footer") -%><%

if(admin){
	%><script src="/public/javascripts/terms_admin.js"></script><%
}

%>